.Header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 104px;
    width: 100%;
    padding: 32px 57px;
    background-color: crimson;
    color: white;
    position: fixed;
    z-index: 2;
    top: 0;
}
.logo{
    font-size: 40px;
    font-weight: 700;
    text-decoration: none;
    color: white;
    transition: 0.2s;
}
.logo:hover{
    scale: 1.05;
    color: #edecec;
    transition: 0.2s;
    background-color: #ae1130;
    padding:  7px;
    border-radius: 14px;
}
