
.menu-button {
    background: none;
    border: 0;
    cursor: pointer;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.line {
    stroke: #fff;
    stroke-width: 2;
    stroke-linecap: round;
    transition: transform 0.25s ease, opacity 0.2s ease;
    transform-box: fill-box;
    transform-origin: 50% 50%;
}
.menu-button.open .top {
    transform: translateY(6px) rotate(45deg);
}
.menu-button.open .middle {
    opacity: 0;
}
.menu-button.open .bottom {
    transform: translateY(-6px) rotate(-45deg);
}



.genre-filter-menu {
    position: fixed;
    top: 154px;
    right: 10px;
    width: 344px;
    height: 854px;
    border-radius: 20px;
    padding: 40px;

    transform: translateX(100%);
    transition: transform 0.3s ease-in-out, opacity 0.3s;
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    pointer-events: none;

    background-color: #df173f;
}
.genre-filter-menu.open {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
}
.genre-filter-menu button {
    background-color: #880f26;
    color: #eef0f1;
    cursor: pointer;

    padding: 14px 56px;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 700;
    transition: 0.2s;
}
.genre-filter-menu button:hover {
    background-color: #aa1238;
    transition: 0.2s;
    scale: 1.1;
}
.genre-filter-menu h3{
    font-size: 1.5rem;
}