@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-decoration: none;
}

[data-theme="light"] {
    --bg: white;
    --bg-header: #df173f;

}
[data-theme="dark"] {
    --bg: #171717;
    --bg-header: #ae1130;
}


body {
    background-color: var(--bg);
    transition: background-color 0.3s;
}
